/*Andorra*/
.ui-icon.ad {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) 0 0;
}
/*United Arab Emirates*/
.ui-icon.ae {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -22px 0;
}
/*Afghanistan*/
.ui-icon.af {
    width: 17px;
    height: 12px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -42px 0;
}
/*Antigua and Barbuda*/
.ui-icon.ag {
    width: 17px;
    height: 12px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -63px 0;
}
/*Anguilla*/
.ui-icon.ai {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -84px 0;
}
/*Albania*/
.ui-icon.al {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -105px 0;
}
/*Armenia*/
.ui-icon.am {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -126px 0;
}
/*Angola*/
.ui-icon.ao {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -147px 0;
}
/*Antarctica*/
.ui-icon.aq {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -168px 0;
}
/*Argentina*/
.ui-icon.ar {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -189px 0;
}
/*American Samoa*/
.ui-icon.as {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -210px 0;
}
/*Austria*/
.ui-icon.at {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -231px 0;
}
/*Australia*/
.ui-icon.au {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -252px 0;
}
/*Aruba*/
.ui-icon.aw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -273px 0;
}
/*Åland Islands*/
.ui-icon.ax {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -294px 0;
}
/*Azerbaijan*/
.ui-icon.az {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -315px 0;
}
/*Bosnia and Herzegovina*/
.ui-icon.ba {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -336px 0;
}
/*Barbados*/
.ui-icon.bb {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -357px 0;
}
/*Bangladesh*/
.ui-icon.bd {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -378px 0;
}
/*Belgium*/
.ui-icon.be {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -399px 0;
}
/*Burkina Faso*/
.ui-icon.bf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -420px 0;
}
/*Bulgaria*/
.ui-icon.bg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -441px 0;
}
/*Bahrain*/
.ui-icon.bh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -462px 0;
}
/*Burundi*/
.ui-icon.bi {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -483px 0;
}
/*Benin*/
.ui-icon.bj {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -504px 0;
}
/*Saint Barthélemy*/
.ui-icon.bl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -525px 0;
}
/*Bermuda*/
.ui-icon.bm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -546px 0;
}
/*Brunei*/
.ui-icon.bn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -567px 0;
}
/*Bolivia*/
.ui-icon.bo {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -588px 0;
}
/*Caribbean Netherlands*/
.ui-icon.bq {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -609px 0;
}
/*Brazil*/
.ui-icon.br {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -630px 0;
}
/*Bahamas*/
.ui-icon.bs {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -651px 0;
}
/*Bhutan*/
.ui-icon.bt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -672px 0;
}
/*Bouvet Island*/
.ui-icon.bv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -693px 0;
}
/*Botswana*/
.ui-icon.bw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -714px 0;
}
/*Belarus*/
.ui-icon.by {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -735px 0;
}
/*Belize*/
.ui-icon.bz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -756px 0;
}
/*Canada*/
.ui-icon.ca {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -777px 0;
}
/*Cocos*/
.ui-icon.cc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -798px 0;
}
/*Democratic Republic of the Congo*/
.ui-icon.cd {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -819px 0;
}
/*Central African Republic*/
.ui-icon.cf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -840px 0;
}
/*Congo*/
.ui-icon.cg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -861px 0;
}
/*Switzerland*/
.ui-icon.ch {
    width: 17px;
    height: 16px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -882px 0;
}
/*Côte d’Ivoire*/
.ui-icon.ci {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -903px 0;
}
/*Cook Islands*/
.ui-icon.ck {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -924px 0;
}
/*Chile*/
.ui-icon.cl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -945px 0;
}
/*Cameroon*/
.ui-icon.cm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -966px 0;
}
/*China*/
.ui-icon.cn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -987px 0;
}
/*Colombia*/
.ui-icon.co {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1008px 0;
}
/*Costa Rica*/
.ui-icon.cr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1029px 0;
}
/*Cuba*/
.ui-icon.cu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1050px 0;
}
/*Cape Verde*/
.ui-icon.cv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1071px 0;
}
/*Curaçao*/
.ui-icon.cw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1092px 0;
}
/*Christmas Island*/
.ui-icon.cx {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1113px 0;
}
/*Cyprus*/
.ui-icon.cy {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1134px 0;
}
/*Czech Republic*/
.ui-icon.cz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1155px 0;
}
/*Germany*/
.ui-icon.de {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1176px 0;
}
/*Djibouti*/
.ui-icon.dj {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1197px 0;
}
/*Denmark*/
.ui-icon.dk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1218px 0;
}
/*Dominica*/
.ui-icon.dm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1239px 0;
}
/*Dominican Republic*/
.ui-icon.do {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1260px 0;
}
/*Algeria*/
.ui-icon.dz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1281px 0;
}
/*Ecuador*/
.ui-icon.ec {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1302px 0;
}
/*Estonia*/
.ui-icon.ee {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1323px 0;
}
/*Egypt*/
.ui-icon.eg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1344px 0;
}
/*Western Sahara*/
.ui-icon.eh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1365px 0;
}
/*Eritrea*/
.ui-icon.er {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1386px 0;
}
/*Spain*/
.ui-icon.es {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1407px 0;
}
/*Ethiopia*/
.ui-icon.et {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1428px 0;
}
/*Finland*/
.ui-icon.fi {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1449px 0;
}
/*Fiji*/
.ui-icon.fj {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1470px 0;
}
/*Falkland Islands*/
.ui-icon.fk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1491px 0;
}
/*Federated States of Micronesia*/
.ui-icon.fm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1512px 0;
}
/*Faroe Islands*/
.ui-icon.fo {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1533px 0;
}
/*France*/
.ui-icon.fr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1554px 0;
}
/*Georgia*/
.ui-icon.ga {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1575px 0;
}
/*United Kingdom*/
.ui-icon.gb {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1596px 0;
}
/*Grenada*/
.ui-icon.gd {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1617px 0;
}
/*Georgia*/
.ui-icon.ge {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1638px 0;
}
/*French Guiana*/
.ui-icon.gf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1659px 0;
}
/*Guernsey*/
.ui-icon.gg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1680px 0;
}
/*Ghana*/
.ui-icon.gh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1701px 0;
}
/*Gibraltar*/
.ui-icon.gi {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1722px 0;
}
/*Greenland*/
.ui-icon.gl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1743px 0;
}
/*Gambia*/
.ui-icon.gm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1764px 0;
}
/*Guinea*/
.ui-icon.gn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1785px 0;
}
/*Guadeloupe*/
.ui-icon.gp {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1806px 0;
}
/*Equatorial Guinea*/
.ui-icon.gq {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1827px 0;
}
/*Greece*/
.ui-icon.gr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1848px 0;
}
/*South Georgia and the South Sandwich Islands NO*/
.ui-icon.gs {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1869px 0;
}
/*Guatemala*/
.ui-icon.gt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1890px 0;
}
/*Guam*/
.ui-icon.gu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1911px 0;
}
/*Guinea-Bissau*/
.ui-icon.gw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1932px 0;
}
/*Guyana*/
.ui-icon.gy {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1953px 0;
}
/*Hong Kong*/
.ui-icon.hk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1974px 0;
}
/*Heard Island and McDonald Islands NO*/
.ui-icon.hm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -1995px 0;
}
/*Honduras*/
.ui-icon.hn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2016px 0;
}
/*Croatia*/
.ui-icon.hr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2037px 0;
}
/*Haiti*/
.ui-icon.ht {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2058px 0;
}
/*Hungary*/
.ui-icon.hu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2079px 0;
}
/*Indonesia*/
.ui-icon.id {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2100px 0;
}
/*Ireland*/
.ui-icon.ie {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2121px 0;
}
/*Israel*/
.ui-icon.il {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2142px 0;
}
/*Isle Of Man*/
.ui-icon.im {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2163px 0;
}
/*India*/
.ui-icon.in {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2184px 0;
}
/*British Indian Ocean Territory NO*/
.ui-icon.io {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2205px 0;
}
/*Iraq*/
.ui-icon.iq {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2226px 0;
}
/*Iran, Islamic Republic Of*/
.ui-icon.ir {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2247px 0;
}
/*Iceland*/
.ui-icon.is {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2268px 0;
}
/*Italy*/
.ui-icon.it {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2289px 0;
}
/*Jersey*/
.ui-icon.je {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2310px 0;
}
/*Jamaica*/
.ui-icon.jm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2331px 0;
}
/*Jordan*/
.ui-icon.jo {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2352px 0;
}
/*Japan*/
.ui-icon.jp {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2373px 0;
}
/*Kenya*/
.ui-icon.ke {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2394px 0;
}
/*Kyrgyzstan*/
.ui-icon.kg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2415px 0;
}
/*Cambodia*/
.ui-icon.kh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2436px 0;
}
/*Kiribati*/
.ui-icon.ki {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2457px 0;
}
/*Comoros*/
.ui-icon.km {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2478px 0;
}
/*Saint Kitts and Nevis*/
.ui-icon.kn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2499px 0;
}
/*North Korea*/
.ui-icon.kp {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2520px 0;
}
/*South Korea*/
.ui-icon.kr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2541px 0;
}
/*Kuwait*/
.ui-icon.kw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2562px 0;
}
/*Cayman Islands*/
.ui-icon.ky {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2583px 0;
}
/*Kazakhstan*/
.ui-icon.kz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2604px 0;
}
/*Laos*/
.ui-icon.la {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2625px 0;
}
/*Lebanon*/
.ui-icon.lb {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2646px 0;
}
/*Saint Lucia*/
.ui-icon.lc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2667px 0;
}
/*Liechtenstein*/
.ui-icon.li {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2688px 0;
}
/*Sri Lanka*/
.ui-icon.lk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2709px 0;
}
/*Liberia*/
.ui-icon.lr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2730px 0;
}
/*Lesotho*/
.ui-icon.ls {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2751px 0;
}
/*Lithuania*/
.ui-icon.lt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2772px 0;
}
/*Luxembourg*/
.ui-icon.lu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2793px 0;
}
/*Latvia*/
.ui-icon.lv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2814px 0;
}
/*Libyan Arab Jamahiriya*/
.ui-icon.ly {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2835px 0;
}
/*Morocco*/
.ui-icon.ma {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2856px 0;
}
/*Monaco*/
.ui-icon.mc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2877px 0;
}
/*Moldova, Republic Of*/
.ui-icon.md {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2898px 0;
}
/*Montenegro*/
.ui-icon.me {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2919px 0;
}
/*Collectivity of Saint Martin NO*/
.ui-icon.mf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2940px 0;
}
/*Madagascar NO*/
.ui-icon.mg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2961px 0;
}
/*Marshall Islands*/
.ui-icon.mh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -2982px 0;
}
/*Macedonia, The Former Yugoslav Republic Of*/
.ui-icon.mk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3003px 0;
}
/*Mali*/
.ui-icon.ml {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3024px 0;
}
/*Myanmar*/
.ui-icon.mm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3045px 0;
}
/*Mongolia*/
.ui-icon.mn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3066px 0;
}
/*Macao*/
.ui-icon.mo {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3087px 0;
}
/*Northern Mariana Islands*/
.ui-icon.mp {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3108px 0;
}
/*Martinique*/
.ui-icon.mq {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3129px 0;
}
/*Mauritania*/
.ui-icon.mr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3150px 0;
}
/*Montserrat*/
.ui-icon.ms {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3171px 0;
}
/*Malta*/
.ui-icon.mt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3192px 0;
}
/*Mauritius*/
.ui-icon.mu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3213px 0;
}
/*Maldives*/
.ui-icon.mv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3234px 0;
}
/*Malawi*/
.ui-icon.mw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3255px 0;
}
/*Maxico*/
.ui-icon.mx {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3276px 0;
}
/*Malaysia*/
.ui-icon.my {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3297px 0;
}
/*Mozambique*/
.ui-icon.mz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3318px 0;
}
/*Namibia*/
.ui-icon.na {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3339px 0;
}
/*New Caledonia*/
.ui-icon.nc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3360px 0;
}
/*Niger*/
.ui-icon.ne {
    width: 17px;
    height: 14px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3381px 0;
}
/*Norfolk Island NO*/
.ui-icon.nf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3402px 0;
}
/*Nigeria*/
.ui-icon.ng {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3423px 0;
}
/*Nicaragua*/
.ui-icon.ni {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3444px 0;
}
/*Netherlands*/
.ui-icon.nl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3465px 0;
}
/*Norway*/
.ui-icon.no {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3486px 0;
}
/*Nepal*/
.ui-icon.np {
    width: 17px;
    height: 20px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3507px 0;
}
/*Nauru*/
.ui-icon.nr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3528px 0;
}
/*Niue NO*/
.ui-icon.nu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3549px 0;
}
/*New Zealand*/
.ui-icon.nz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3570px 0;
}
/*Oman*/
.ui-icon.om {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3591px 0;
}
/*Panama*/
.ui-icon.pa {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3612px 0;
}
/*Peru*/
.ui-icon.pe {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3633px 0;
}
/*French Polynesia*/
.ui-icon.pf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3654px 0;
}
/*Papua New Guinea*/
.ui-icon.pg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3675px 0;
}
/*Philippines*/
.ui-icon.ph {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3696px 0;
}
/*Pakistan*/
.ui-icon.pk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3717px 0;
}
/*Poland*/
.ui-icon.pl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3738px 0;
}
/*Saint Pierre and Miquelon NO*/
.ui-icon.pm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3759px 0;
}
/*Pitcairn Islands NO*/
.ui-icon.pn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3780px 0;
}
/*Puerto Rico*/
.ui-icon.pr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3801px 0;
}
/*Palestine, State Of*/
.ui-icon.ps {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3822px 0;
}
/*Portugal*/
.ui-icon.pt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3843px 0;
}
/*Palau*/
.ui-icon.pw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3864px 0;
}
/*Paraguay*/
.ui-icon.py {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3885px 0;
}
/*Qatar*/
.ui-icon.qa {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3906px 0;
}
/*Reunion*/
.ui-icon.re {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3927px 0;
}
/*Romania*/
.ui-icon.ro {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3948px 0;
}
/*Serbia*/
.ui-icon.rs {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3969px 0;
}
/*Russian Federation*/
.ui-icon.ru {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4011px 0;
}
/*Rwanda*/
.ui-icon.rw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -3990px 0;
}
/*Saudi Aribia*/
.ui-icon.sa {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4032px 0;
}
/*Soloman Islands*/
.ui-icon.sb {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4053px 0;
}
/*Seychelles*/
.ui-icon.sc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4074px 0;
}
/*Sudan*/
.ui-icon.sd {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4095px 0;
}
/*Sweden*/
.ui-icon.se {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4116px 0;
}
/*Singapore*/
.ui-icon.sg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4137px 0;
}
/*Saint Helena*/
.ui-icon.sh {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4158px 0;
}
/*Slovenia*/
.ui-icon.si {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4179px 0;
}
/*Svalbard And Jan Mayen*/
.ui-icon.sj {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4200px 0;
}
/*Slovakia*/
.ui-icon.sk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4221px 0;
}
/*Sierra Leone*/
.ui-icon.sl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4242px 0;
}
/*San Marino*/
.ui-icon.sm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4263px 0;
}
/*Senegal*/
.ui-icon.sn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4284px 0;
}
/*Somalia*/
.ui-icon.so {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4305px 0;
}
/*Suriname*/
.ui-icon.sr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4326px 0;
}
/*South Sudan NO*/
.ui-icon.ss {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4347px 0;
}
/*Sao Tome And Principe*/
.ui-icon.st {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4368px 0;
}
/*El Salvador*/
.ui-icon.sv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4389px 0;
}
/*Sint Maarten NO*/
.ui-icon.sx {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4410px 0;
}
/*Syrian Arab Republic*/
.ui-icon.sy {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4431px 0;
}
/*Swaziland*/
.ui-icon.sz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4452px 0;
}
/*Turks and Caicos Islands NO*/
.ui-icon.tc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4473px 0;
}
/*Chad*/
.ui-icon.td {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4494px 0;
}
/*French Southern Territories*/
.ui-icon.tf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4515px 0;
}
/*Togo*/
.ui-icon.tg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4536px 0;
}
/*Thailand*/
.ui-icon.th {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4557px 0;
}
/*Tajikistan*/
.ui-icon.tj {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4578px 0;
}
/*Tokelau*/
.ui-icon.tk {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4599px 0;
}
/*Timor-Leste*/
.ui-icon.tl {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4620px 0;
}
/*Turkmenistan*/
.ui-icon.tm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4641px 0;
}
/*Tunisia*/
.ui-icon.tn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4662px 0;
}
/*Tonga*/
.ui-icon.to {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4683px 0;
}
/*Turkey*/
.ui-icon.tr {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4704px 0;
}
/*Trinidad And Tobago*/
.ui-icon.tt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4725px 0;
}
/*Tuvalu*/
.ui-icon.tv {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4746px 0;
}
/*Taiwan*/
.ui-icon.tw {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png
    ) -4767px 0;
}
/*Tanzania, United Republic Of*/
.ui-icon.tz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4788px 0;
}
/*Ukraine*/
.ui-icon.ua {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4809px 0;
}
/*Uganda*/
.ui-icon.ug {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4830px 0;
}
/*United States Minor Outlying Islands NO*/
.ui-icon.um {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4851px 0;
}
/*United States*/
.ui-icon.us {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4872px 0;
}
/*Uruguay*/
.ui-icon.uy {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4893px 0;
}
/*Uzbekistan*/
.ui-icon.uz {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4914px 0;
}
/*Vatican City*/
.ui-icon.va {
    width: 17px;
    height: 16px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4935px 0;
}
/*Saint Vincent And The Grenadines*/
.ui-icon.vc {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4956px 0;
}
/*Venezuela, Bolivarian Republic Of*/
.ui-icon.ve {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4977px 0;
}
/*British Virgin Islands*/
.ui-icon.vg {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -4998px 0;
}
/*Virgin Islands, U.S.*/
.ui-icon.vi {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5019px 0;
}
/*Viet Nam*/
.ui-icon.vn {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5040px 0;
}
/*Vanuatu*/
.ui-icon.vu {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5061px 0;
}
/*Wallis And Futuna*/
.ui-icon.wf {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5082px 0;
}
/*Samoa*/
.ui-icon.ws {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5103px 0;
}
/*Yemen*/
.ui-icon.ye {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5124px 0;
}
/*Mayotte NO*/
.ui-icon.yt {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5145px 0;
}
/*South Africa*/
.ui-icon.za {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5166px 0;
}
/*Zambia*/
.ui-icon.zm {
    width: 17px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5187px 0;
}
.ui-icon.zw {
    width: 16px;
    height: 11px;
    background:url(https://cdnjs.cloudflare.com/ajax/libs/country-region-dropdown-menu/1.1.1/geodatasource-countryflag.png) -5208px 0;
}
html *
{
    font-family: Arial !important;
}